<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/style-grid-system.css">
</head>
<body>

<div class="col-xs-12  col-s-12 col-md-12  col-l-12 col-xl-12 p-0 ">
    <section class="menu__bar">
        <h6>منوی رستوران</h6>
        <ul>
            <li class="menu__item">
                <img src="../img/main.png" alt="غذای اصلی" />
                <a href="#" class="link-btn">غذای اصلی</a>
            </li>
            <li class="menu__item">
                <img src="../img/apitizer.png" alt="" />
                <a href="#" class="link-btn">پیش غذا</a>
            </li>
            <li class="menu__item">
                <img src="../img/deser.png" alt="" />
                <a href="#" class="link-btn">دسر</a>
            </li>
            <li class="menu__item drink__image">
                <img src="../img/drink.png" alt="" />
                <a href="#" class="link-btn">نوشیدنی</a>
            </li>
        </ul>
    </section>
</div>

</body>
</html>