<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/style-grid-system.css">
</head>
<body>
<div class="col-xs-12  col-s-12 col-md-12 col-xl-12 p-0">
    <div id="slider">
        <div class="slide active">
            <img class="img-responsive" src="../img/slider-image.png" alt="">
        </div>
        <div class="slide">
            <img class="img-responsive" src="../img/slider-phone.png" alt="">
        </div>
        <div class="slide">
            <img class="img-responsive" src="../img/branch-slider.jpg" alt="">
        </div>
        <div class="slide">
            <img class="img-responsive" src="../img/intro__image.jpg" alt="">
        </div>

        <a href="#" class="previous">&lt;</a>
        <a href="#" class="next-one">&gt;</a>
    </div>
</div>
</body>
</html>